
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <div class="top">
        <h1>Zamów. Jedz. Chudnij.</h1>
        <p>Gotowy na wyzwania smaków?</p>
        <br>
        <p><a class="btn btn-primary btn-lg" href="~/Account/Login" role="button">Zaloguj się »</a> <a class="btn btn-primary btn-lg" href="#" role="button">Dowiedz się więcej »</a></p>
    </div>
</div>


