@model inzynierka.Models.MealViewModels.CreateViewModel

@{
    ViewData["Title"] = "Stwórz posiłek";
}

<h2>Swórzt</h2>

<h4>Posiłek</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MealName" class="control-label"></label>
                <input asp-for="MealName" class="form-control">
                <span asp-validation-for="MealName" class="text-danger"></span>    
                
                <span asp-validation-for="MealName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MealType" class="control-label"></label>
                <select asp-for="MealType" class="form-control">
                    <option selected disabled >Wybierz typ posiłku</option>
                    <option value="Śniadanie">Śniadanie</option>
                    <option value="Drugie śniadanie">Drugie śniadanie</option>
                    <option value="Obiad">Obiad</option>
                    <option value="Podwieczorek">Podwieczorek</option>
                    <option value="Kolacja">Kolacja</option>
                </select>
                <span asp-validation-for="MealType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Components" class="control-label"></label>
                <input asp-for="Components" class="form-control" />
                <span asp-validation-for="Components" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" value="Create" class="btn btn-default">Dodaj posiłek</button> |
                <a asp-action="Index" class="btn btn-default">Poprzednie menu</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
